@media all and (max-width: 1280px) {
    .container {
        max-width: 90%
    }
}
@media all and (max-width: 1024px) {
    .about-grid {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-grid img {
        width: 50%;
    }
}
@media all and (max-width: 768px) {
    .hero-content span {
        font-size: 1.9rem;
    }
    .process-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .exp-grid {
        grid-template-columns: 1fr;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .gallery-item:nth-child(5) {
        grid-column: 1;
    }
    .ct-grid {
        grid-template-columns: 1fr;
    }
}
@media  all and (max-width: 680px){
    .process-grid-item {
        padding: 4rem;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
    .gallery-item {
        height: auto;
    }
    .tm-grid {
        grid-template-columns: 1fr;
    }
    #tm {
        background-image: none;
        background-color: #f6f6f6;
    }
    .process-grid {
        grid-template-columns: 1fr;
    }

    html {
        font-size: 55%;
    }
}
@media  all and (max-width: 400px){
    .work-filter button {
        display: contents;
    }
}
